body{ 
    font-family: tahoma,Arial
}
.principal{ 
    width: 1024px;
    margin: 20px auto;
}
.header-top{ 
    background-color:#003d52;
    width: auto;
    position: relative;
}
.logotipo{ 
    padding-left: 134px ;
}
.navegation-menu{
    display: inline-block;
    position: absolute;
    right:0;
    top: 0;
    height: 100%; 
}
.navegation-menu ul{
    margin: 0;
    padding: 0;
}
.navegation-menu li{ 
    display: inline-block;
    padding: 15px;
    text-transform: uppercase;
    font-size: 11px;
    list-style: none;
    text-align: right;
    margin:0 15px 0 0;
}
.navegation-menu a{ 
    color: #607985c5;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 3px;
    transition: color 0.3s linear;
}
.navegation-menu a:hover{
    color: white;

}
.texto-informativo1{ 
    text-align: center;
    padding: 50px 100px;
}
.texto-informativo1 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: #252525;
}
.texto-informativo1 p{
    line-height: 2;
    color: #555;
    font-size: 16px;
}
.galery-cards{
    width: 32%; 
    float: left;
    
    padding: 5px;
}
.portfolio{ 
    display: inline-block;
    padding-left:0 100px 50px 100px;
    overflow: auto;

}
.portfolio ul{ 
    list-style: none;
    
}
.portfolio h3{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:rgb(85, 82, 82);
    font-size: 17px;
}
.portfolio p{ 
    text-align: center;
    color: rgb(163, 163, 163);
    font-size: 15px;
}
.texto-informativo2{
    background-image: url(../imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #003d52;
    padding: 0 50px 100px 50px;
    width: auto;
    
}
.texto-informativo2 h2{
    font-size: 46px;
    color: aliceblue;
    padding: 100px 50px 0px 50px;

}
.texto-informativo2 p{
    font-size: 15px;
    padding:0 200px 100px 60px ;
    letter-spacing: 1px;
    line-height: 2;
    color: aliceblue;
}
address{ 
    font-size: 20px;
    font-style:normal;
    text-align: center;
    color: blue;
    text-transform: uppercase;
}
.conteudo{ 
    text-align: center;  
}
.maps{
    display:inline-block;
    text-align: center;
    padding: 15px;
    color: blue;
}
.maps iframe{
    width: 100%;
    margin-bottom: 30px;
}
footer{ 
    text-align: center;
    background-color: #003d52;
    color: blanchedalmond;
    height: 25px;
    font-size: 15px ;
    font-family: tahoma, arial;
}
